PAM
Pillow
Twisted-Core
Twisted-Web
adium-theme-ubuntu
apt-xapian-index
argparse
backports.ssl-match-hostname
certifi
chardet
colorama
command-not-found
debtagshw
decorator
defer
dirspec
duplicity
html5lib
httplib2
ipython
ipython-genutils
lockfile
lxml
matplotlib
nose
numpy
oauthlib
oneconf
pandas
path.py
pexpect
pickleshare
piston-mini-client
progress
pyOpenSSL
pycrypto
pycups
pygobject
pyparsing
pyserial
pysmbc
python-apt
python-dateutil
python-debian
pytz
pyxdg
reportlab
requests
scikit-learn
scipy
sessioninstaller
simplegeneric
six
software-center-aptd-plugins
sympy
system-service
tornado
traitlets
unity-lens-photos
urllib3
utils
virtualenv
wheel
wsgiref
xdiagnose
zope.interface
